@charset "utf-8";
/*
Design by http://www.templateaccess.com
Released for free under a Creative Commons Attribution 3.0 License
#0B0B61
#2E2EFE
*/
body { margin:0; padding:0; width:100%; color:#9a9a9a; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
html,
.main { padding:0; padding:0 0 0 0px; background:#fff url(images/main_bg2.jpg) top repeat:none;}
.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
.logoleft { padding:0px 0px 0px 175px; margin:auto; width:100%; float:center;}
.logoleft img { float:left; margin:0px 10px 0px 0; }
.logoright{ padding:10px 175px 0px 0; margin:0 auto; width:450px; float:right;position:relative}
.logoright img { float:right; margin:0px 10px 0 0; }
.logocenter{ padding:0px 0 0px 0; margin:0 auto; width:60%; position:left;}
.logocenter img { float:center; margin:0px 10px 0 0; }
h1 { margin:0; padding:5px 0; width:300px; color:#fff; font:normal 46px/1.2em Arial, Arial, sans-serif; letter-spacing:-2px;}
h1 a, h1 a:hover { color:#fff; text-decoration:none;}
h1 small { text-align:left; float:left; width:130px;  color:#fff; display:block; padding:3px 0 0 0; font:normal 12px/1.2em Arial, Helvetica, sans-serif; letter-spacing:normal;}
h2 { font:normal 24px Arial, Helvetica, sans-serif; padding:0; margin:5px 0; color:#595959;}
p { margin:8px 0; padding:0 0 8px 0; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
p.spec { text-align:right;}
a { color:#0B0B61; text-decoration:none;}
a:hover { text-decoration:underline;}
a.rm, a.com { margin-left:8px; padding:9px 12px; background:url(images/a_bg.gif) repeat-x top; text-decoration:none; color:#fff;}

.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar { margin:0; padding:0;}

/* header */
.header { }
.header_resize { margin:0 auto; padding:50px 0 0 0; width:970px;}
.header_img { width:970px;height = 250px  padding:20px 0 0 0;margin:20px 0 0 0}
/* menu */

.menu_nav { margin:0px 0 0 0px; padding:0px 0 0 0; float:right; width:100%;background: #333333;position: top-fixed; z-index: 1; opacity: 1}
.menu_nav ul { list-style:none; margin:0 0 0 187px; width:970}
.menu_nav li { float:left; padding:0 3px; }
.menu_nav li a { border-right:0px solid #000; font:normal 19px Arial, Helvetica, sans-serif; color:#cfcfcf; display:block; float:left; padding:10px 20px; }
.menu_nav li a span { font:normal 11px Arial, Helvetica, sans-serif; color:#cfcfcf;  }
.menu_nav li a:hover { text-decoration:none; color:#000; background:#3fada8; }
.menu_nav li a:hover span { text-decoration:none; color:#000;background:#3fada8; }
.menu_nav li.active a { text-decoration:none; color:#000; background:#3fada8; }
.menu_nav li.active a span {text-decoration:none; color:#000; background:#3fada8; }
.menu_nav li a.last { border:0;}


/* content */
.content { padding:10px 0 0 0;}
.content_resize { margin:0 auto; padding:20px 0 0 0; width:90%; min-width:970px; max-width:900px}
.content .mainbar { margin:0; float:right;}
.content .mainbar img { float:left; padding:4px; margin:0 10px 0 0; background-color:#dfdfdf;}

.content .mainbar .article { margin:0 0 2px 0;  padding:0px 20px;  width:650px;}
.content .mainbar .article span.butons a { margin:0 5px 0 0; float:right; color:#9a9a9a; padding:1px 10px; text-decoration:none;  border:1px solid #ebe8e8; background:#fbfbfc;}
.content .mainbar .article span.butons a:hover { border:1px solid #d9f0ff; background:#3fada8; color:#fff; text-decoration:none;}
.content .mainbar .article span.butons a.active {  border:1px solid #ebe8e8;  background:#3fada8; color:#fff; text-decoration:none;}
.content .sidebar { margin:0; padding:0; float:left; background: #333333;}
.content .sidebar .gadget { margin:0 0 20px 0; padding:10px 20px 0px 20px; width:230px;}
ul.sb_menu, ul.ex_menu { margin:0; padding:0; list-style:none; color:#959595;}
ul.sb_menu li, ul.ex_menu li { margin:0; background:url(images/li_a.gif) left no-repeat;}
ul.sb_menu li { padding:4px 0 4px 12px; width:220px;}
ul.ex_menu li { padding:4px 0 8px 12px;}
ul.sb_menu li a, ul.ex_menu li a { color:#959595; text-decoration:none; margin-left:-12px; padding-left:12px;}
ul.sb_menu li a:hover, ul.ex_menu li a:hover { color:#3fada8; text-decoration:underline;}
ul.sb_menu li a:hover { text-decoration:underline;}
ul.ex_menu li a:hover { text-decoration:none;}

/* subpages */
.content .mainbar .comment { margin:0; padding:16px 0 0 0;}
.content .mainbar .comment img.userpic { border:1px solid #dedede; margin:10px 16px 0 0; padding:0; float:left;}

/* fbg */
.fbg { padding:10px 0 0 0; background-color:#3fada8 ; margin:10px 0 0 0;}
.fbg_resize { margin:0 auto; padding:20px 20px; width:930px;}
.fbg  h2 { color:#fff;}
.fbg  p { color:#fff;}
.fbg  a { color:#fff; text-decoration:none;}
.fbg  img { padding:4px; border:1px solid #cfd2d4; background-color:#fff;}
.fbg .col { margin:0; float:left;}
.fbg .c1 { padding:0 16px 0 0; width:266px;}
.fbg .c2 { padding:0 16px; width:300px;}
.fbg .c3 { padding:0 0 0 16px; width:260px;}
.fbg .c1 img { margin:8px;}
.fbg .c3 img { margin:8px 16px 4px 0; float:left;}

/*Modal*/

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #333;
	color: #333;
	line-height: 25px;
	position: absolute;
	right: -0px;
	text-align: center;
	top: -0px;
	width: 104px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }



/* footer */
.footer { width:970px; margin:0 auto; padding:40px 0 20px 0;}
.footer p.lf { margin:0; padding:0px 0; float:center; width:auto; text-align:center; line-height:1.5em; color:#fff;}
.footer p.lf a { color:#0B0B61;}


/* form */
ol { list-style:none;}
ol li { display:block; clear:both;}
ol li label { display:block; margin:0; padding:16px 0 0 0;}
ol li input.text { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:5px 2px; height:16px; background:#fff;}
ol li textarea { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:2px; background:#fff;}
ol li .send { margin:16px 0 0 0;}
